* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

:root {
  --primary-green: hsl(160deg, 100%, 30%);
  --secondary-gold: hsl(45deg, 100%, 50%);
  --secondary-gold-dark: hsl(45deg, 100%, 40%);

  --black: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark-gray: hsl(0deg, 0%, 30%);
  --medium-gray: hsl(0deg, 0%, 40%);
  --light-gray: hsl(0deg, 0%, 60%);
  --white: hsl(0deg, 0%, 100%);

  --spacing-unit: 8px;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

/* Add styles here! */
main {
  background-color: var(--light-gray);
  padding: calc(12 * var(--spacing-unit)) 0;
}

header {
  border-bottom: 8px solid var(--medium-gray);
}

.max-width-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100 * var(--spacing-unit));
  padding: calc(3 * var(--spacing-unit));
}

.intro-chunk {
  padding: 0 calc(6 * var(--spacing-unit));
  padding-top: calc(12 * var(--spacing-unit));
  padding-bottom: calc(12 * var(--spacing-unit));
  max-width: calc(50 * var(--spacing-unit));
}

.intro-chunk h1.title {
  font-size: 2rem;
  margin-bottom: calc(6 * var(--spacing-unit));
}

.intro-chunk p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.intro-chunk strong {
  font-weight: bold;
  color: var(--primary-green);
}

.card {
  background-color: var(--white);
  border-bottom: var(--spacing-unit) solid var(--medium-gray);
  margin: calc(6 * var(--spacing-unit) / -2);
  padding: calc(3 * var(--spacing-unit));
}

.card .indented-heading {
  background-color: var(--secondary-gold);
  border-bottom: var(--spacing-unit) solid var(--secondary-gold-dark);
  margin-left: calc(8 * var(--spacing-unit) / -2);
  margin-top: calc(4 * var(--spacing-unit) / -2);
  padding: calc(2 * var(--spacing-unit)) 0;
  padding-left: calc(4 * var(--spacing-unit));
  padding-right: calc(4 * var(--spacing-unit));
  width: fit-content;
}

.card p {
  font-size: 1.25rem;
  line-height: 1.4;
}

.card p:last-child {
  margin-bottom: 0;
}
